.register-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.register-container .content {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px;
    background-color: #f3f3f3;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, .1);
    border-radius: 10px;

}

.register-container .content section.explain {
    width: 100%;
    max-width: 380px;

}

.register-container .content section.explain h1{
    margin: 64px 0 32px;
    font-size: 32px;

}

.register-container .content section.explain p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;

}

form {
    width: 100%;
    max-width: 450px;

}
form input {
    margin-top: 8px;

}

.register-container .content form .group {
    display: flex;
    

}

.register-container .content form .group input + input {
    margin-left: 8px;
    
}